<%- include('components/header') %>

<h2 class="page_heading"><%= team.name %></h2>

<div class="flex-heading-buttons">
    <button class="button" onclick="window.location.href='/teams'">Back</button>
    <div>
        <p class="center">Rank: <%= team.rank %></p>
        <p class="center"><%= team.location %></p>
    </div>
    <button id="addPlayerButton" class="button" onclick="event.preventDefault(); event.stopPropagation(); openAddModalP(event)">Add Player</button>
</div>

<br><br>

<div class="player_card_container">
    <% if(players != null){ %>
        <% players.forEach(player => { %>
            <%- include('components/player-card', { player: player }) %>
        <% }) %>
    <% }else{ %>
        <div>There are no players on this team.</div>
    <% } %>
</div>

<!-- Add Player Modal -->
<div id="addPlayerModal" class="modal">
    <div class="modal-content">
        <form id="addPlayerForm" action="/teams/<%= team.id %>/players/add" method="POST">
            <!-- <input type="hidden" name="form_type" value="add"/> -->
            <input type="hidden" name="team_id" value="<%= team.id %>">

            <div>
                <label for="name">Name: </label>
                <input type="text" name="name"/>
            </div>
            <div>
                <label for="number">Number: </label>
                <input type="number" name="number"/>
            </div>
            <div>
                <label for="position">Position: </label>
                <select name="position">
                    <option>Select Position</option>
                    <% ['Setter', 'Libero', 'Outside Hitter', 'Middle Blocker', 'Opposite'].forEach(pos => { %>
                        <option><%= pos %></option>
                    <% }) %>
                </select>
            </div>
            <div class="height">
                <label for="">Height: </label>
                <div>
                    <input type="number" name="heightFeet"/>
                    <input type="number" name="heightInches"/>
                </div>
            </div>
            <div>
                <label for="age">Age: </label>
                <input type="number" name="age"/>
            </div>

            <div class="form-button">
                <button class="button" type="submit">Add</button>
                <button class="button" type="button" onclick="closeModalP()">Cancel</button>
            </div>
        </form>
    </div>
</div>

<!-- Edit Player Modal -->
<div id="editPlayerModal" class="modal">
    <div class="modal-content">
        <form id="editPlayerForm" action="/teams/<%= team.id %>/players/edit" method="POST">
            <input type="hidden" name="_method" value="PUT">
            <!-- <input type="hidden" name="form_type" value="edit"/> -->
            <input type="hidden" name="id" id="editPlayerId"/>

            <div>
                <label for="name">Name: </label>
                <input type="text" name="name" id="editPlayerName"/>
            </div>
            <div>
                <label for="number">Number: </label>
                <input type="number" name="number" id="editPlayerNumber"/>
            </div>
            <div>
                <label for="position">Position: </label>
                <select name="position" id="editPlayerPosition">
                    <option value="" disabled>Select Position</option>
                    <% ['Setter', 'Libero', 'Outside Hitter', 'Middle Blocker', 'Opposite'].forEach(pos => { %>
                        <option><%= pos %></option>
                    <% }) %>
                </select>
            </div>
            <div class="height">
                <label for="">Height: </label>
                <div>
                    <input type="number" name="heightFeet" id="editPlayerHeightFeet"/>
                    <input type="number" name="heightInches" id="editPlayerHeightInches"/>
                </div>
            </div>
            <div>
                <label for="age">Age: </label>
                <input type="number" name="age" id="editPlayerAge"/>
            </div>
            <div>
                <label for="newTeamId">Team: </label>
                <select name="newTeamId" id="editPlayerTeam">
                    <% teams.forEach(steam => { %>
                        <!-- steam.id: <%= steam.id %>, team.id: <%= team.id %> -->
                        <% if(steam.id == team.id){ %>
                            <option value="<%= steam.id %>" selected><%= steam.name %></option>
                        <% }else{ %>
                            <option value="<%= steam.id %>"><%= steam.name %></option>
                        <% } %>
                    <% }); %>
                </select>
            </div>

            <div class="form-button">
                <button class="button" type="submit">Update</button>
                <button class="button" type="button" onclick="closeModalP()">Cancel</button>
            </div>
        </form>
    </div>
</div>

<!-- Delete Player Modal -->
<div id="deletePlayerModal" class="modal">
    <div class="modal-content">
        <form id="deletePlayerForm" action="/teams/<%= team.id %>/players/delete" method="POST">
            <input type="hidden" name="id" id="deletePlayerId"/>
            <!-- <input type="hidden" name="_method" value="DELETE"> -->
            <p>Check Javascript</p>
            <div class="form-button">
                <button class="button" type="submit">Delete</button>
                <button class="button" type="button" onclick="closeModalP()">Cancel</button>
            </div>
        </form>
    </div>
</div>

<script>
    function openAddModalP(){
        document.getElementById("addPlayerModal").classList.add("show");
    }


    function openDeleteModalP(element, playerId, name){
        console.log("player_id", playerId);
        document.getElementById("deletePlayerId").value = playerId;

        let message = document.querySelector("#deletePlayerModal p");
        message.textContent = `Are you sure you want to delete Player ${name}?`;

        document.getElementById("deletePlayerModal").classList.add("show");
    }


    function openEditModalP(playerId, name, number, position, heightFeet, heightInches, age){
        document.getElementById("editPlayerId").value = playerId;
        document.getElementById("editPlayerName").value = name;
        document.getElementById("editPlayerNumber").value = number;
        document.getElementById("editPlayerPosition").value = position;
        document.getElementById("editPlayerHeightFeet").value = heightFeet;
        document.getElementById("editPlayerHeightInches").value = heightInches;
        document.getElementById("editPlayerAge").value = age;

        document.getElementById("editPlayerModal").classList.add("show");
    }


    function closeModalP(){
        document.getElementById("addPlayerModal").classList.remove("show");
        document.getElementById("editPlayerModal").classList.remove("show");
        document.getElementById("deletePlayerModal").classList.remove("show");
    }


    document.addEventListener("click", function(event){
        let editModal = document.getElementById("editPlayerModal");
        let editModalContent = document.querySelector("#editPlayerModal .modal-content");
        if(editModal.classList.contains("show") && !editModalContent.contains(event.target)){
            closeModalP();
        }

        let addModal = document.getElementById("addPlayerModal");
        let addModalContent = document.querySelector("#addPlayerModal .modal-content");
        if(addModal.classList.contains("show") && !addModalContent.contains(event.target)){
            closeModalP();
        }    
        
        let deleteModal = document.getElementById("deletePlayerModal");
        let deleteModalContent = document.querySelector("#deletePlayerModal .modal-content");
        if(deleteModal.classList.contains("show") && !deleteModalContent.contains(event.target)){
            closeModalP();
        }   
    });
</script>

<%- include('components/footer') %>