<div class="player_card">
    <h3><%= player.name %></h3>
    <img src="/images/profile.jpg" alt="Profile Picture"/>
    <p><%= player.position %></p>
    <p>#<%= player.number %></p>
    <p>Height: <%= player.heightFeet %>' <%= player.heightInches %>"</p>
    <p>Age: <%= player.age %></p>
    <br>

    <div class="player-icons">
        <span onclick="event.preventDefault(); event.stopPropagation(); openEditModalP('<%= player.id %>', '<%= player.name %>', '<%= player.number %>', '<%= player.position %>', '<%= player.heightFeet %>', '<%= player.heightInches %>', '<%= player.age %>')">
            <img class="icon" src="/images/edit.png" alt="Edit Icon"/>
        </span>

        <span onclick="event.preventDefault(); event.stopPropagation(); openDeleteModalP(this, '<%= player.id %>', '<%= player.name %>')">
            <img class="icon" src="/images/delete.png" alt="Delete Icon">
        </span>
    </div>
</div>