<div class="tournament_card">
    <h3><strong><%= tournament.name %></strong></h3>
    <p><%= tournament.venue %></p>
    <p><%= tournament.start_date %></p>
    <p><%= tournament.end_date %></p>
    <p><%= tournament.organizer %></p>
    <p><%= tournament.contact %></p>
    <p><%= tournament.description %></p>   
    <% if(status != false){ %>
        <p><%= tournament.status %></p>
    <% } %>
</div>
